src/**
tsconfig.json
.gitignore
**/*.map
scripts/**
node_modules/**
!node_modules/@bufbuild/**
!node_modules/@connectrpc/**
!node_modules/@cursor/**
!node_modules/@fastify/**
!node_modules/@statsig/**
!node_modules/base64-js/**
!node_modules/better-sqlite3/**
!node_modules/bindings/**
!node_modules/bl/**
!node_modules/buffer/**
!node_modules/chownr/**
!node_modules/decompress-response/**
!node_modules/deep-extend/**
!node_modules/detect-libc/**
!node_modules/end-of-stream/**
!node_modules/expand-template/**
!node_modules/file-uri-to-path/**
!node_modules/fs-constants/**
!node_modules/github-from-package/**
!node_modules/ieee754/**
!node_modules/inherits/**
!node_modules/ini/**
!node_modules/mimic-response/**
 A AA!node_modules/mkdirp-classic/**
!node_modules/napi-build-utils/**
!node_modules/node-abi/**
!node_modules/once/**
!node_modules/prebuild-install/**
!node_modules/pump/**
!node_modules/rc/**
!node_modules/readable-stream/**
!node_modules/safe-buffer/**
!node_modules/semver/**
!node_modules/simple-concat/**
!node_modules/simple-get/**
!node_modules/string_decoder/**
!node_modules/strip-json-comments/**
!node_modules/tar-fs/**
!node_modules/tar-stream/**
!node_modules/tunnel-agent/**
!node_modules/util-deprecate/**
!node_modules/wrappy/**
!node_modules/zod/**
!node_modules/undici/**
